# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
.env
.venv
env/
venv/
venv_linux/

# Databases

# OS-specific files
.DS_Store
.Trashes
Thumbs.db

# Django stuff:
*.log
local_settings.py
.idea/
staticfiles/ # Added staticfiles/
*.sqlite3
*.db
db.sqlite3

# My IDE/editor files
.vscode/
.history/

# Coverage reports
.coverage
.coverage.*
htmlcov/

# dotenv files
.env
.flaskenv

# virtualenv
.venv