{% extends 'reception_dashboard.html' %}
{% load static %}
{% block content %}
<style>
    body {
      background-color: #f8f9fa;
    }

    .form-container {
      max-width: 100%;
      margin: 35px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 100px;
<!--      height: 619px;-->
      overflow-y: auto;
<!--      display: flex;-->
<!--      flex-wrap: wrap;-->
    }
    .table td img {
        width: 50px;
        height: 50px;
        border-radius: 0%;
    }
    .table td.custom-model-details {
        max-width: 200px;
        word-wrap: break-word;
        white-space: normal;
    }

</style>
<div class="container form-container" style="margin-top:1px;">
    <div class="">
        <div class="card-body">
            <h5 style="text-align:center; margin-top:3px;" class="card-title">Order Details</h5>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <div>
                        <h4 style="text-align:center; color:blue;">Search Results for '{{ query }}'</h4>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Name</th>
                                    <th>Contact Number</th>
                                    <th>Cloth Name</th>
                                    <th>Cloth Length</th>
                                    <th>Model Details</th>
                                    <th>Length</th>
                                    <th>Shoulder</th>
                                    <th>Sleeve Sada</th>
                                    <th>Sleeve Cuff</th>
                                    <th>Center Sleeve</th>
                                    <th>Sleeve Bottom</th>
                                    <th>Loose</th>
                                    <th>seat</th>
                                    <th>Regal</th>
                                    <th>Collar Type</th>
                                    <th>Collar Measurement</th>
                                    <th>Cuff Type</th>
                                    <th>Cuff Measurments</th>
                                    <th>Pocket Type</th>
                                    <th>Pocket measure</th>
                                    <th>Button Type</th>
                                    <th>Bottom Measure</th>
                                    <th>Bill Number</th>
                                    <th>Order Date</th>
                                    <th>Delivery Date</th>
                                    <th>Description</th>
                                    <th>Total Price</th>
                                    <th>Advance Payment</th>
                                    <th>Balance Payment</th>
                                    <th>Tailor</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for results in results.customer %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'single_customer_reception' customer_id=results.customer_id.id %}"
                                       style="color:black;">{{results.customer_id.name}}</a>
                                </td>
                                <td>{{ results.customer_id.mobile }}</td>
                                <td>{% if results.clothdetails %}
                                        {{ results.clothdetails.name }}
                                    {% else %}
                                        {{ results.cloth_name }}
                                    {% endif %}
                                </td>
                                <td>{{results.ordered_length}}</td>
                                <td class="custom-model-details">{{results.model_details}}</td>
                                <td>{{ results.length }}</td>
                                <td>{{ results.shoulder }}</td>
                                <td>{{results.sleeve_sada}}</td>
                                <td>{{results.sleeve_cuff}}</td>
                                <td>{{results.center_sleeve}}</td>
                                <td>{{results.sleeve_bottom}}</td>
                                <td>{{results.loose}}</td>
                                <td>{{results.seat}}</td>
                                <td>{{results.regal}}</td>
                                <td><img src="{% static results.collar_type_image_url %}" /></td>
                                <td>{{results.collar_measurements}}</td>
                                <td><img src="{% static results.cuff_type_image_url %}"/></td>
                                <td>{{results.cuff_measurements}}</td>
                                <td><img src="{% static results.pocket_image_url %}" width="100"/></td>
                                <td class="custom-model-details">{{results.pocket}}</td>
                                <td>{{results.button_type}}</td>
                                <td>{{results.bottom1}}</td>
                                <td>{{results.bill_number}}</td>
                                <td>{{results.order_date}}</td>
                                <td>{{results.delivery_date}}</td>
                                <td class="custom-model-details">{{results.description}}</td>
                                <td>{{results.total_payment}}</td>
                                <td>{{results.advance_payment}}</td>
                                <td>{{results.balance_payment}}</td>
                                <td>{{results.tailor}}</td>
                                <td>
                                    <a href="{% url 'add_order_recption' dataid=results.customer_id.id %}">
                                        <button type="submit" class="btn btn-secondary btn-sm">
                                            Add
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <form action="{% url 'edit_order_reception' dataid=results.id %}">
                                        <button type="submit" class="btn btn-outline-info btn-icon-text btn-sm">
                                            Edit
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'orderdlt_reception' dlt=results.id %}" method="post"
                                          onsubmit="return confirm('Are you sure you want to delete this order?');">
                                        {% csrf_token %}
        
                                        <button type="submit" class="btn btn-outline-danger btn-icon-text btn-sm">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'customer_bill_reception' customer_id=results.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn {% if not results.is_printed %}btn-outline-primary{% else %}btn-danger{% endif %} btn-icon-text btn-sm">
                                            Print
                                        </button>
                                    </form>
                                    {% if results.is_printed %}
                                        <small class="text-muted">Already Printed</small>
                                        {% endif %}
                                </td>
                                <td>
                                    <form action="{% url 'deliver_order_reception' order_id=results.id %}" method="post">
                                        {% csrf_token %}
                                        {% if results.pending_or_delivered == 'pending' %}
                                            <button type="submit" class="btn btn-warning btn-icon-text btn-sm" >
                                                Pending
                                            </button>
                                        {% elif results.pending_or_delivered == 'delivered' %}
                                            <button class="btn btn-success btn-icon-text btn-sm">
                                                Delivered
                                            </button>
                                        {% endif %}
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br><br>

                        {% if not results.customer %}
                        <style>
                            @keyframes blink {
                                0% {
                                    opacity: 1;
                                }
                                50% {
                                    opacity: 0;
                                }
                                100% {
                                    opacity: 1;
                                }
                            }

                            .blink {
                                animation: blink 1s infinite;
                            }
                        </style>
                        <h4 style="color:red; text-align:center;" class="blink">No results found.</h4>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>


    {% endblock %}